about-time==3.1.1
aiohttp==3.7.4.post0
aiosignal==1.2.0
alabaster==0.7.12
alembic==1.7.7
alive-progress==2.4.1
anyio==3.4.0
apng==0.3.4
apturl==0.5.2
argon2-cffi==21.2.0
argon2-cffi-bindings==21.2.0
asgiref==3.6.0
astropy==5.0
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.1.5
attrs==22.1.0
autobahn==21.11.1
Automat==0.8.0
autoslot==2021.10.1
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.1
backports.zoneinfo==0.2.1
bcrypt==3.1.7
beautifulsoup4==4.11.1
beautifultable==1.1.0
black==21.12b0
bleach==4.1.0
bleak==0.13.0
blinker==1.4
bluepy==1.3.0
boto==2.49.0
boto3==1.24.51
botocore==1.27.51
brial==1.0.2
Brlapi==0.7.0
bs4==0.0.1
capstone==4.0.2
certifi==2022.12.7
certipy==0.1.3
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.1.1
chrome-gnome-shell==0.0.0
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.3
colored-traceback==0.3.0
command-not-found==0.3
commonmark==0.9.1
constantly==15.1.0
contourpy==1.0.6
coverage==6.2
cryptography==36.0.0
cupshelpers==1.0
cvxopt==1.2.3
cycler==0.11.0
cypari2==2.1.1
Cython==0.29.14
dask==2021.12.0
dbus-next==0.2.3
dbus-python==1.2.16
debugpy==1.5.1
decompyle3==3.9.1.dev0
decorator==5.1.0
deep-translator==1.9.1
defer==1.0.6
defusedxml==0.7.1
dill==0.3.6
discord==1.7.3
discord.py==1.7.3
distlib==0.3.4
distro==1.4.0
distro-info===0.23ubuntu1
Django==4.1.4
django-cors-headers==3.13.0
djangorestframework==3.14.0
dnspython==1.16.0
docutils==0.17.1
duplicity==0.8.12.0
engineering-notation==0.6.0
entrypoints==0.3
et-xmlfile==1.1.0
evdev==1.4.0
exceptiongroup==1.0.4
fake-useragent==0.1.11
fasteners==0.14.1
filelock==3.4.0
Flask==2.0.2
fonttools==4.38.0
fpylll==0.5.1.dev0
frozenlist==1.2.0
fsspec==2021.11.1
future==0.18.2
gattlib==0.20201113
geographiclib==2.0
geopy==2.3.0
ghunt==2.0.3
gmpy2==2.1.2
google==3.0.0
Google-Search-API==1.1.14
grapheme==0.6.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.0.1
httpcore==0.16.3
httplib2==0.14.0
httpx==0.23.1
humanize==4.4.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.4
ifaddr==0.1.7
ImageHash==4.3.1
imagesize==1.3.0
importlib-metadata==4.11.3
importlib-resources==5.4.0
imutils==0.5.4
incremental==16.10.1
inflection==0.5.1
iniconfig==1.1.1
intervaltree==3.1.0
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
iso8601==1.1.0
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.2
jmespath==1.0.1
joblib==1.2.0
jsonpickle==2.2.0
jsonschema==4.2.1
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyter-server==1.13.0
jupyter-server-proxy==3.2.0
jupyter-telemetry==0.1.0
jupyterhub==2.3.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kaggle==1.5.12
keyring==18.0.1
kiwisolver==1.4.4
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
librespot==0.0.1
libretranslatepy==2.1.1
llvmlite==0.37.0
locket==0.2.1
lockfile==0.12.2
loguru==0.6.0
louis==3.12.0
lxml==4.9.2
m3u8==3.3.0
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==2.0.1
matplotlib==3.6.2
matplotlib-inline==0.1.3
mistune==0.8.4
monotonic==1.5
more-itertools==4.2.0
MouseInfo==0.1.3
mpmath==1.2.1
multidict==5.2.0
multiprocess==0.70.14
music-tag==0.4.3
mutagen==1.45.1
mypy-extensions==0.4.3
mysql==0.0.3
mysql-connector-python==8.0.31
mysqlclient==2.0.3
nbclient==0.5.9
nbconvert==6.5.0
nbformat==5.1.3
nest-asyncio==1.5.4
NetfilterQueue==1.0.0
netifaces==0.10.4
network==0.1
networkx==2.4
nose==1.3.7
notebook==6.4.6
numba==0.54.1
numpy==1.20.0
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.3.56
openpyxl==3.0.10
outcome==1.2.0
packaging==21.3
pamela==1.0.0
pandocfilters==1.5.0
paramiko==2.6.0
parso==0.8.3
partd==1.2.0
path.py==12.0.1
pathos==0.3.0
pathspec==0.9.0
pdfminer.six==20211012
pdfplumber==0.6.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.3.0
pkgconfig==1.5.1
platformdirs==2.4.0
pluggy==1.0.0
plumbum==1.7.2
pox==0.3.2
ppft==1.7.6.6
pplpy==0.8.4
prometheus-client==0.12.0
prompt-toolkit==3.0.24
protobuf==3.20.1
proton-client==0.7.1
protonvpn-cli==3.13.0
protonvpn-gui==1.12.0
protonvpn-nm-lib==3.14.0
psutil==5.9.0
psycopg2==2.9.3
ptyprocess==0.7.0
pwntools==4.7.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
PyAutoGUI==0.9.53
pycairo==1.16.2
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.14.1
pycryptodomex==3.11.0
pycups==1.9.73
pydub==0.25.1
pyelftools==0.28
pyerfa==2.0.0.1
PyExecJS==1.5.1
pygame==2.0.2
PyGetWindow==0.0.9
Pygments==2.12.0
PyGObject==3.36.0
PyHamcrest==1.9.0
pyinotify==0.9.6
PyJWT==1.7.1
pymacaroons==0.13.0
pymongo==4.0.1
PyMsgBox==1.0.9
PyNaCl==1.3.0
pynput==1.7.6
PyOgg==0.6.14a1
PyOpenGL==3.1.5
pyOpenSSL==21.0.0
pyparsing==3.0.9
PyPDF2==1.26.0
pyperclip==1.8.2
PyRect==0.2.0
pyRFC3339==1.1
pyrsistent==0.18.0
PyScreeze==0.1.28
pyserial==3.5
PySocks==1.7.1
PyStemmer==1.3.0
pytesseract==0.3.9
pytest==6.2.5
pytest-black==0.3.12
pytest-cov==3.0.0
python-apt==2.0.0+ubuntu0.20.4.8
python-daemon==2.3.0
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-dotenv==0.20.0
python-gnupg==0.4.5
python-json-logger==2.0.2
python-nmap==0.7.1
python-slugify==5.0.2
python-xlib==0.31
python3-openid==3.1.0
python3-xlib==0.15
pythondialog==3.4.0
pyttsx3==2.90
pytweening==1.0.4
pytz==2019.3
PyWavelets==1.4.1
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.3.1
pyzbar==0.1.9
pyzmq==22.3.0
qrcode==7.3.1
qrtools==0.0.2
qtconsole==5.2.1
QtPy==1.11.3
reportlab==3.5.34
requests==2.28.1
requests-file==1.5.1
requests-unixsocket==0.2.0
rfc3986==1.5.0
rich==12.6.0
roman==2.0.0
ROPGadget==6.6
rpy2==3.2.6
rpyc==5.0.1
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.6.0
sage==9.0
sagenb-export==3.2
scapy==2.4.5
scikit-learn==1.2.0
scipy==1.7.3
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
secure-smtplib==0.1.1
selenium==4.7.2
selenium-requests==1.4.1
Send2Trash==1.8.0
service-identity==18.1.0
setuptools-scm==3.4.3
simpervisor==0.4
simple-chalk==0.1.0
simplegeneric==0.8.1
simplejson==3.16.0
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.11.0
soupsieve==2.3.2.post1
spark-parser==1.8.9
-e git+https://github.com/Atish03/sparse@3ea0d6ce61497907fde0898fd10c8a7fbe3065a1#egg=sparse
Sphinx==4.3.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.36
sqlparse==0.4.3
ssh-import-id==5.10
sympy==1.10.1
systemd-python==234
tabulate==0.8.9
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
threadpoolctl==3.1.0
tinycss2==1.1.1
tk==0.1.0
tk-tools==0.14.0
tldextract==3.3.0
toml==0.10.2
tomli==1.2.3
toolz==0.11.2
tornado==6.1
tox==3.24.4
tqdm==4.64.1
traitlets==5.1.1
translate==3.6.1
translate-api==4.9.5
trio==0.21.0
trio-websocket==0.9.2
Twisted==18.9.0
txaio==21.2.1
typing-extensions==4.0.1
tzlocal==2.1b1
ubuntu-advantage-tools==27.12
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uncompyle6==3.8.0
unicorn==2.0.0rc6
Unidecode==1.3.2
urllib3==1.26.13
usb-creator==0.3.7
vboxapi==1.0
vcrpy==4.1.1
vcversioner==2.16.0.0
virtualenv==20.10.0
vpython==7.6.2
wadllib==1.3.3
Wand==0.6.7
wcwidth==0.2.5
webdriver-manager==3.8.3
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wsproto==1.2.0
xdis==6.0.4
xkit==0.0.0
xmltodict==0.13.0
yarl==1.7.2
youtube-dl==2021.6.6
z3==0.2.0
z3-solver==4.11.2.0
zeroconf==0.36.9
zipp==3.6.0
zope.interface==4.7.1
