@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Sora&family=Varela+Round&display=swap');

.logo {
    position: fixed;
    top: 10px; left: 10px;
    display: flex;
    height: 100px; width: 234px;
    background-image: url("../assets/logo_flat.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
}

:root {
    font-family: 'Varela Round', sans-serif;
}

.player {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 1000px;
    overflow: hidden;
}

.container::-webkit-scrollbar {
    display: none;
}

.slider {
    height: 150px;
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    cursor: pointer;
}

.waveCont:hover .wave {
    background-color: rgb(255, 219, 143);
}

.wave {
    display: flex;
    width: 5px;
    background-color: rgb(90, 90, 90);
    border-radius: 2.5px;
    transition: all 0.05s ease-out;
}

.marker {
    position: fixed;
    left: 50%;
    height: 150px;
    width: 1.5px;
    background-color: red;
}

.toggle {
    position: relative;
    margin: 20px;
}

.inpZone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.urlBox {
    padding: 10px;
    outline: none;
    border: solid rgb(237, 146, 255) 2px;
    border-radius: 10px;
    font-size: 18px;
    color: rgb(54, 54, 54);
}

.dropBoxText {
    font-size: 18px;
}

.dropBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    padding: 50px;
    border: dashed 3px rgb(121, 195, 255);
    border-radius: 10px;
    margin: 0px 20px 20px 20px;
    background-color: rgba(115, 180, 255, 0.349);
    color: rgb(78, 78, 78);
    cursor: pointer;
}

.subBtn {
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 179, 236);
    color: rgb(43, 43, 43);
}

.subBtn:hover {
    background-color: rgb(253, 159, 230);
}

.annotations {
    padding: 30px;
    display: flex;
    gap: 20px;
}

.tagsBox, .annotationBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: top;
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
}

.tagsBox p, .annotationBox > p {
    font-size: 20px;
    color: rgb(61, 61, 61);
    text-align: center;
}

.cont {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 10px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    padding: 10px;
    border-radius: 20px;
    margin: 0px 0px 5px 0px;
}

.timestamp {
    color: rgb(65, 65, 65);
    position: relative;
    cursor: pointer;
}

.tagInp {
    margin: 0px 0px 0px 15px;
    padding: 5px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    transition: all 0.2s cubic-bezier(0, 0, 0.09, 1.44);
}

.delBtn img {
    position: relative;
    width: 100%;
}

.delBtn {
    position: relative;
    transition: all 0.1s ease-out;
    background-color: transparent;
    border: none; outline: none;
    cursor: pointer;
    padding: 0px;
    margin: 5px;
    width: 20px;
}

.annotationArea {
    position: relative;
    width: clac(100% - 10px);
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    padding-top: 30px;
    height: 300px;
    resize: none;
    background-color: rgb(241, 241, 241);
    border: none;
}

.navBtn {
    padding: 10px;
    border: none;
    font-size: 15px;
    color: rgb(65, 65, 65);
    border: solid 2px rgba(91, 161, 252, 0.945);
    background-color: rgba(128, 186, 252, 0.267);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s cubic-bezier(0, 0, 0.09, 1.44);
}

.navBtn:hover {
    transform: translateY(-2px);
}

.customToolkit {
    position: absolute;
    left: -100px;
    font-size: 13px;
}

.annoTime {
    position: absolute;
    z-index: 10;
    top: 65px; left: -5px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 99px;
    box-shadow: 0px 0px 10px rgba(54, 54, 54, 0.137);
    font-size: 15px;
}

.formContent {
    display: flex;
    flex-direction: column;
    gap: 20px;  
}

.formInput {
    outline: none;
    font-size: 15px;
    padding: 10px 2px 10px 2px;
    border: none;
    border-bottom: solid 1px rgb(158, 158, 158);
    background-color: transparent;
}

.formButton {
    width: max-content;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgb(183, 196, 252), rgb(202, 180, 253));
    border-radius: 99px;
    color: rgb(31, 31, 31);
    box-shadow: 5px 5px 10px rgba(41, 41, 41, 0.082);
}

.formButton:hover {
    box-shadow: none;
}

.formTitle {
    font-size: 30px;
    width: min-content;
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: 600;
    padding-bottom: 5px;
    border: 10px solid;
    border-image-slice: 1;
    color: rgb(78, 59, 78);
    border-width: 5px;
    border-image-source: linear-gradient(90deg, rgb(68, 3, 221), rgb(153, 0, 255));
    border-top: 0; border-left: 0; border-right: 0;
}

.loginBack, .registerBack {
    position: relative;
    display: flex;
    width: 500px; height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.8;
}

.loginBack {
    background-image: url("../assets/3d_headphone.webp");
}

.registerBack {
    background-image: url("../assets/speaker_1.png");
    transform: rotateZ(-30deg);
    background-size: 110%;
}

.customForm {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.171);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(51, 51, 51, 0.055), 0px 0px 30px rgba(37, 37, 37, 0.062);
    margin-left: -150px;
}

.library {
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 10px;
    background-color: rgb(233, 233, 233);
    gap: 7px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.audios {
    padding: 5px 10px 5px 10px;
    background-color: white;
    border-radius: 10px;
}